html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  margin: 9%;
  position: relative;
}
.ships {
  width: 40%;
  margin: 10px 0;
  border: 2px solid goldenrod;
  padding: 5px;
}
.cargo {
  width: 50%;
  border: 2px solid goldenrod;
  padding: 5px;
  margin: 5px 0;
}
.name {
  margin-bottom: 5px;
}
.value {
width: 100%;
}
.all {
  width: 100%;
  font-size:0
}
.all .testing {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.all .testing div {  
  font-size:16px;
}


/* Loader */
.loadme { 
   margin: 0;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.load {
  position: absolute;
  font-family: 'Roboto',sans-serif;
}
.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 1.5s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: blueviolet;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: blue;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
              0 0 4em,
              0 0 6em,
              0 0 8em,
              0 0 10em,
              0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
      transform: rotate(1turn);
  }
}

.create {  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 400px;
  background-color: aliceblue;
  border:2px solid #4b8f29;

}
.myButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
	background-color:#77b55a;
	border:3px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background-color:#72b352;
}
.cancelButton {
  position: absolute;
  top: 10px;
  right: 10px;
	background-color:#fe1a00;
	border:3px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.cancelButton:hover {
	background-color:#ce0100;
}
.create-form {
  height: 100%;
  position: relative;
}
.inputs {
  position: absolute;
  top: 60px;
  left: 20px;
}
.inputs, input {
  font-size: 14px;
  border-width: 2px;
  padding: 5px;
  margin-bottom: 5px;
}
.createButton { 
	background-color:#77b55a;
	border:3px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.createButton:hover {
	background-color:#72b352;
}
.cargoCounter {
  margin-top: 5px;
}
